# requirements.txt

#run this command to install the dependencies: pip install -r requirements.txt

fastapi[all]
uvicorn[standard]
SQLAlchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
mysqlclient
pymysql
sqlalchemy-utils
mysql-connector-python
pydantic[email]

# ai dependencies
numpy==1.26.0
setuptools
cmake
opencv-python==4.10.0.84
pygame==2.6.1
face_recognition
